<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <!--
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
-->

    <title>UTS Puzzle Society</title>
    <meta name="description" content="The official website of UTS Puzzle Society">
    <meta name="author" content="UTS Puzzle Society">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
================================================================================================= -->
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/themes/type_04.css" %}">
    <link rel="stylesheet" href="{% static "css/themes/color_13.css" %}">
    <link rel="stylesheet" href="{% static "css/timeline.css" %}">
    <link rel="stylesheet" href="{% static "css/puzzle_view.css" %}">

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" %}"></script>
<![endif]-->

    <!-- Favicons
================================================================================================= -->
    <link rel="shortcut icon" href="{% static "images/favicons/favicon.ico" %}">

    <!-- JS
================================================================================================= -->
    <script src="{% static "js/libs/modernizr.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/libs/jquery.easing.1.3.min.js" %}"></script>
    <script src="{% static "js/libs/jquery.fitvids.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

</head>

<body>

    <!-- Write preloader to page - this allows the site to load for users with JS disabled -->
    <script type="text/javascript">
        document.write("<div id='sitePreloader'><div id='preloaderImage'><img src='{% static 'images/site_preloader.gif' %}' alt='Preloader' /></div></div>");
    </script>

    <div class="container">

        {% block content %}
        {% endblock %}


        <!-- Footer begins ========================================================================== -->
        <hr />
        <footer class="sixteen columns">
            <hr />
            <ul id="footerLinks">
                <li>&copy; 2020 UTS Puzzle Society.</li>
                <li><a href="https://www.facebook.com/utspuzzlesoc" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/utspuzzlesoc" target="_blank">Instagram</a></li>
                <li><a href="https://bit.ly/PuzzleSocDiscord" target="_blank">Discord</a></li>
                <li><a href="https://www.twitch.tv/utspuzzlesoc" target="_blank">Twitch</a></li>
                <!--Notice: The "Powered by Type & Grids" link in the footer is required in the Free version. Upgrade to the Pro version if you would like to remove it. (www.typeandgrids.com/pirates) -->
                <li>Powered by <a href="http://www.typeandgrids.com" target="_blank">Type &amp; Grids</a></li>
            </ul>
        </footer>
        <!-- Footer ends ============================================================================ -->

    </div><!-- container -->
</body>

</html>